#symbol {
    background-color: lightgrey;

    text-align: center;
    line-height: 100%;
    font-size: 75vmin;

    width: 75vmin;
    height: 75vmin;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#symbol-gui {
  /* Work out how to get panels to size to largest... */
  width: 590px;
  height: 540px;
  overflow-y: auto;
}

#gui-current-entries-table {
  width: 100%;
}

.gui-current-entries-symbol {
    /*text-align: right;*/
}

/* Make sure all tabs are displayed the same size (...with the same height) */

.tab-pane {
    display: block;
    visbility: hidden;
}

.tab-pane>.active {
    visibility: visible;
}

#updating {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
