#is-art {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 72pt;
    line-height: 100%;

    /* Position the text vertically in a visually pleasing way */
    padding-bottom: 48pt;
}

#is-art-status {
    color: #550000;
}

#is-art-gui {
}
