#is-art {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#is-art h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 72pt;
}

#is-art-status {
    color: #550000;
}

#is-art-gui {
    width: 440px;
    height: 300px;
}
