{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["error"] }],
    "react/forbid-prop-types": [0, { "forbid": ["array"] }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
  }
}
