#representation {
  width: 75vmin;
  height: 75vmin;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 1px solid lightgray;*/}

#is-art {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 72pt;
    line-height: 100%;

    /* Position the text vertically in a visually pleasing way */
    padding-bottom: 48pt;
}

#is-art-status {
    color: #550000;
}
