#bitmap {
    background-color: grey;

    width: 75vmin;
    height: 75vmin;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid lightgray;
}

#bitmap-gui-bitmap {
    width: 320px;
    height: 320px;
    display: inline-block;
}

.bitmap-gui-pixel {
    float: left;
    width: 20px;
    height: 20px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.bitmap-gui-pixel-on {
    background-color: black;
}
