@import '../../../shared/css/shared.css';

@keyframes commissioning-in-progress {
    from { color: white; }
    to { color: lightgray; }
}

#commissioning-in-progress {
    /* Center the text vertically  */
    position:absolute;
    left:0; right:0;
    top:50%;
    transform: translateY(-50%);
    /* And horizontally */
    text-align: center;

    color: white;
    animation: commissioning-in-progress 1s infinite alternate;
    font-size: 72px;
    text-shadow: 0 0 1em black;

    z-index: 2000;
}

#representations {
}

.representation {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
