#flags {
  text-align: center;
  width: 96vmin;
  /* Height would be 48 but this includes the flag spacing */
  height: 52vmin;
  padding: 0;
}

.flag12 {
  /* Dimensions are weird to allow for margins */
  width: 21.25vmin;
  height: 15vmin;
  margin-bottom: 2.75vmin;
  border: 1px solid #dddddd;
  background-color: white;
}

.color-sample {
  display: inline-block;
  margin-top: 8px;
  width: 10.5rem;
  height: 1.75rem;
  border: 1px solid lightgray;
}

.ui-flag {
  height: 300px;
  width: 500px;
  margin: 12px;
  border: 1px solid #dddddd;
}

#schellingflags-gui {
   float: left;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    padding: 20px;

    width: 800px;
    height: 540px;

    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
