#hot-cold {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#temperatures {
    font-family: 'Open Sans', sans-serif;
    font-size: 128pt;
}

#hot {
    color: #550000;
}

#cold {
    color: #000044;
}

#hot-cold-gui {
    width: 440px;
    height: 300px;
}
