#hot-cold {
}

#temperatures {
    font-family: 'Open Sans', sans-serif;
    font-size: 128pt;

    /* Position the text vertically in a visually pleasing way */
    padding-bottom: 24pt;
}

#hot {
    color: #550000;
}

#cold {
    color: #000044;
}

#hot-cold-gui {
}
