body {
    margin: 0;
}

#background {
    float: left;
    width: 100vw;
    height: 100vh;

    position:absolute;
}

#status {
    visibility: hidden;
}

#gui {
    float: left;
    width: 600px;
    height: 550px;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    padding: 20px;

    background-color: white;
    border: 1px solid gray;
}

.rep-btn {
    width: 8em;
}

#vote-for-colour {
}

#set-representation {
    text-align: center;
    transform: translateY(45%);
}

@keyframes voting-in-progress {
    from { color: white; }
    to { color: lightgray; }
}

#voting-in-progress {
    /* Center the text vertically  */
    position:absolute;
    left:0; right:0;
    top:50%;
    transform: translateY(-50%);
    /* And horizontally */
    text-align: center;

    color: white;
    animation: voting-in-progress 1s infinite alternate;
    font-size: 72px;
    text-shadow: 0 0 1em black;

    z-index: 2000;
}

#representations {
}

.representation {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.full-height {
    width: 90vw;
    height: 90vh;
}

.two-rows-of-six {
    width: 90vw;
    height: 30vw;
}

#stripes {
}

.stripe {
}

#squares {
}

.square {
}

#spots {
    border-collapse: separate;
    border-spacing: 10px;
}

.spot {
    border-radius: 100%;
}
